# Needing six for python 2.7/3 compatibility
future==0.16.0
six==1.11.0
docopt==0.6.2

# Alignak backend client
alignak-backend-client

# Do not include Alignak in the requirements
# alignak
# -e git+git://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak
-e git+git://github.com/Alignak-monitoring/alignak.git@python3#egg=alignak
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@develop#egg=alignak_backend
