# this is the requirements dedicated to tests.
unittest2
mock
nose
pylint
pep8
pep257
uwsgi
# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak
# alignak_backend
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@develop#egg=alignak_backend
# alignak_backend_client
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend-client.git@develop#egg=alignak_backend_client
