# Python requirements for unit tests
unittest2
# Web test
webtest
# Use py.test as test-runner
pytest

# Static code analysis libraries
pylint
pycodestyle
pep257
# uWSGI server
uwsgi
# alignak (most recent develop)
-e git+git://github.com/Alignak-monitoring/alignak.git@python3#egg=alignak
# alignak_backend (most recent develop)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@develop#egg=alignak_backend
